<nav class="bg-gray-900 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="font-bold">
      <a
        class="text-xl bg-gradient-to-r from-indigo-400 to-cyan-400 text-transparent bg-clip-text"
        *ngIf="!isAdmin"
        >YuGi Tournament</a
      >
      <a
        *ngIf="isAdmin"
        routerLink="/admin/players"
        routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2"
      >
        Admin Dashboard
      </a>
    </div>

    <!-- Links -->
    <div class="space-x-2 font-bold">
      <a
        routerLink="/player/forbidden"
        routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2"
        >Forbidden Cards</a
      >
      <a
        routerLink="/player/allLeagues"
        routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2"
        >All Leagues</a
      >
      <a
        routerLink="/player/league-table"
        routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2"
        >League Table</a
      >
      <a
        routerLink="/player/ranking"
        routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2"
        >Ranking</a
      >
    </div>

    <!-- Auth Buttons -->
    <div class="space-x-4">
      <a
        *ngIf="!isAdmin"
        (click)="openSendMessage()"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2 cursor-pointer"
        >Send Message</a
      >
      <ng-container *ngIf="!isLoggedIn">
        <a
          routerLink="/auth/login"
          routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
          class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2 mr-4"
          >Login</a
        >
        <a
          routerLink="/auth/register"
          routerLinkActive="!text-indigo-300 bg-white/10 border-b-2 border-white"
          class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2"
          >Register</a
        >
      </ng-container>
      <a
        *ngIf="isLoggedIn"
        (click)="logout()"
        class="text-white hover:text-gray-300 hover:bg-gray-700 transition rounded py-2 px-2 cursor-pointer"
        >Logout</a
      >
    </div>
  </div>
</nav>
<div class="min-h-[30px] bg-yellow-200 w-full" *ngIf="notes.length > 0">
  <div *ngFor="let note of notes" class="pt-1">
    <h2 class="text-center font-bold">{{ note.content }}</h2>
  </div>
</div>
