<div class="block sm:flex transition-all duration-600">
  <!-- Sidebar -->
  <div
    class="bg-black bg-opacity-50 backdrop-blur-sm text-white transition-all duration-600"
    [ngClass]="{
      'w-64 p-4 sm:min-h-screen': isSidebarOpen,
      'w-0 p-0': !isSidebarOpen
    }"
  >
    <h2
      class="text-lg font-bold mb-4 flex justify-between overflow-hidden text-white"
    >
      Players
      <button (click)="toggleSidebar()" class="text-gray-300 text-3xl">
        ×
      </button>
    </h2>
    <ul *ngIf="isSidebarOpen">
      <li
        *ngFor="let player of players"
        class="flex items-center justify-between p-2 cursor-pointer rounded-md hover:bg-gray-700"
        [class.bg-blue-600]="selectedPlayer?.playerId === player.playerId"
        (click)="selectPlayer(player)"
      >
        <span class="text-white">{{ player.fullName }}</span>
        <button
          (click)="confirmDelete(player, $event)"
          class="bg-red-600 px-2 py-1 text-sm rounded text-white hover:bg-red-700 transition"
        >
          X
        </button>
      </li>
    </ul>
    <button
      *ngIf="isSidebarOpen"
      class="mt-4 w-full bg-green-600 p-2 rounded text-white hover:bg-green-700 transition"
      (click)="openModal()"
    >
      Add Player
    </button>
  </div>

  <!-- Main Content -->
  <div
    class="sm:flex-1 sm:p-2 transition-all duration-600 sm:container sm:mx-auto"
  >
    <div *ngIf="selectedPlayer" class="sm:w-4/6 mx-auto">
      <h2 class="text-2xl font-bold mb-4 text-center text-white">
        Matches for {{ selectedPlayer.fullName }}
      </h2>

      <table class="w-full border-collapse border border-gray-600 text-center">
        <thead>
          <tr class="bg-black bg-opacity-50 backdrop-blur-sm text-white">
            <th class="border border-gray-600 p-2">Player 1</th>
            <th class="border border-gray-600 p-2">Player 2</th>
            <th class="border border-gray-600 p-2">Result</th>
            <th class="border border-gray-600 p-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let match of displayMatches; let i = index"
            class="border border-gray-600"
            [ngClass]="i % 2 === 0 ? 'bg-gray-900' : 'bg-gray-950'"
          >
            <td class="p-2 font-bold text-white">{{ match.player1Name }}</td>
            <td class="p-2 font-bold text-white">{{ match.player2Name }}</td>
            <td class="p-2 font-bold text-white">
              {{ match.score1 }} - {{ match.score2 }}
            </td>
            <td class="p-2">
              <button
                class="bg-blue-600 px-2 py-1 rounded text-white hover:bg-blue-700 transition-all"
                (click)="updateMatch(match.matchId, match.player1Id)"
                [disabled]="match.isCompleted"
                [ngClass]="{
                  'opacity-50 cursor-not-allowed': match.isCompleted
                }"
              >
                {{ loadingMatches[match.matchId] ? "Load.." : "Win P1" }}
              </button>
              <button
                class="bg-blue-600 px-2 py-1 rounded text-white mx-1 hover:bg-blue-700 transition-all"
                (click)="updateMatch(match.matchId, match.player2Id)"
                [disabled]="match.isCompleted"
                [ngClass]="{
                  'opacity-50 cursor-not-allowed': match.isCompleted
                }"
              >
                {{ loadingMatches[match.matchId] ? "Load.." : "Win P2" }}
              </button>
              <button
                class="bg-yellow-600 px-2 py-1 rounded text-white hover:bg-yellow-700 transition-all"
                (click)="updateMatch(match.matchId, null)"
                [disabled]="match.isCompleted"
                [ngClass]="{
                  'opacity-50 cursor-not-allowed': match.isCompleted
                }"
              >
                {{ loadingMatches[match.matchId] ? "Load.." : "Draw" }}
              </button>
              <button
                class="bg-gray-600 px-2 py-1 rounded text-white ml-2 hover:bg-gray-700 transition-all"
                (click)="resetMatch(match.matchId)"
              >
                {{ loadingMatches[match.matchId] ? "Load.." : "Undo" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="my-3 border-gray-600" />

    <!-- القائمة الأولية -->
    <div>
      <div class="flex justify-evenly pt-5">
        <button
          (click)="toggleSidebar()"
          class="bg-blue-600 text-white px-3 py-2 rounded mb-4 hover:bg-blue-700 transition"
        >
          ☰ Players
        </button>
        <button
          routerLink="/admin/inbox"
          class="bg-orange-600 hover:bg-orange-700 text-white mb-4 px-3 py-2 rounded transition-all relative"
        >
          Inbox
          <div
            class="absolute -top-2 -right-2 w-[30px] h-[30px] rounded-full bg-green-600 flex justify-center items-center"
            *ngIf="totalMessagesLeft > 0"
          >
            <h2 class="text-white font-bold">{{ totalMessagesLeft }}</h2>
          </div>
        </button>
        <button
          class="bg-green-600 text-white px-3 py-2 rounded mb-4 hover:bg-green-700 transition"
          (click)="openStartLeagueModal()"
          *ngIf="leagueData == null"
        >
          Start New League
        </button>
        <button
          class="bg-red-600 text-white px-3 py-2 rounded mb-4 hover:bg-red-700 transition"
          *ngIf="leagueData != null"
          (click)="showEndLeagueModal = true"
        >
          End League
        </button>
        <button
          class="bg-indigo-600 text-white px-3 py-2 rounded mb-4 hover:bg-indigo-700 transition"
          (click)="openNoteModal()"
        >
          Notes
        </button>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-8"
        *ngIf="leagueData"
      >
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">
            League Description
          </h3>
          <h2 class="font-bold  text-gray-300">{{
            leagueData.description
          }}</h2>
        </div>
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">League Type</h3>
          <p
            *ngIf="leagueData.typeOfLeague === 0"
            class="font-bold text-gray-300"
          >
            Single
          </p>
          <p
            *ngIf="leagueData.typeOfLeague === 1"
            class="font-bold text-gray-300"
          >
            Multi
          </p>
        </div>
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">Start Date</h3>
          <p class="font-bold text-gray-300">
            {{ leagueData.createdOn | date : "fullDate" }}
          </p>
        </div>
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">
             League Name
          </h3>
          <p class="font-bold text-gray-300">{{ leagueData.name }}</p>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-8 container mx-auto">
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">
            Remaining Matches
          </h3>
          <p class="text-3xl font-bold text-red-500">{{ totalMatchesLeft }}</p>
        </div>
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">Total Matches</h3>
          <p class="text-3xl font-bold text-green-500">{{ totalMatches }}</p>
        </div>
        <div
          class="bg-black bg-opacity-50 backdrop-blur-sm shadow-md rounded p-6 text-center"
        >
          <h3 class="text-lg font-semibold mb-2 text-white">Total Players</h3>
          <p class="text-3xl font-bold text-blue-500">{{ totalPlayers }}</p>
        </div>
      </div>
    </div>

    <!-- كل البطولات -->
    <div class="text-center">
      <h2
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-4xl lg:text-4xl text-white"
      >
        All Leagues
      </h2>

      <div class="max-h-[350px] overflow-x-auto">
        <table class="min-w-full divide-y-2 divide-gray-600">
          <thead class="sticky top-0 bg-black bg-opacity-50 backdrop-blur-sm">
            <tr class="*:font-medium *:text-white">
              <th class="px-3 py-2 whitespace-nowrap">League Name</th>
              <th class="px-3 py-2 whitespace-nowrap">League Status</th>
              <th class="px-3 py-2 whitespace-nowrap">League Type</th>
              <th class="px-3 py-2 whitespace-nowrap">League Date</th>
              <th class="px-3 py-2 whitespace-nowrap">Winner</th>
              <th class="px-3 py-2 whitespace-nowrap">Delete</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-600">
            <tr
              *ngFor="let league of leagues; let i = index"
              class="*:font-bold *:first:font-medium"
              [ngClass]="{
                'bg-gray-900': i % 2 === 0,
                'bg-gray-950': i % 2 !== 0
              }"
            >
              <td class="px-3 py-2 whitespace-nowrap text-white">
                {{ league.leagueName }}
              </td>
              <td
                class="px-3 py-2 whitespace-nowrap"
                [class.text-green-500]="!league.isFinished"
                [class.text-red-500]="league.isFinished"
              >
                {{ !league.isFinished ? "Live Now!!" : "Finished" }}
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-white">
                {{ league.leagueType === 0 ? "Single" : "Multi" }}
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-white">
                {{ league.createdOn | date : "yyyy/MM/dd" }}
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-white">
                {{
                  league.players && league.players.length > 0
                    ? league.players[0].fullName
                    : "No Winner Yet"
                }}
              </td>
              <td class="px-3 py-2 whitespace-nowrap">
                <button
                  (click)="openDeleteLeagueModal(league.leagueId)"
                  class="bg-red-600 text-white px-3 py-2 rounded hover:bg-red-700 transition"
                >
                  Delete League
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Delete League Modal -->
  <div
    *ngIf="showDeleteLeagueModal"
    class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50"
  >
    <div
      class="bg-black bg-opacity-50 backdrop-blur-sm p-6 rounded-lg shadow-lg w-96"
    >
      <h2 class="text-xl font-bold text-white mb-4">Confirm Delete</h2>
      <p class="text-gray-300 mb-6">
        Are you sure you want to delete league "{{
          selectedLeagueToDelete?.leagueName
        }}"?
      </p>
      <div class="flex justify-end space-x-4">
        <button
          (click)="closeDeleteLeagueModal()"
          class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition"
        >
          Cancel
        </button>
        <button
          (click)="deleteConfirmedLeague()"
          class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div
    *ngIf="showDeleteModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
  >
    <div class="bg-black bg-opacity-50 backdrop-blur-sm p-6 rounded-lg">
      <h2 class="text-lg font-bold mb-4 text-white">Confirm Delete</h2>
      <p class="text-gray-300">
        Are you sure you want to delete
        <strong>{{ selectedPlayerToDelete?.fullName }}</strong
        >?
      </p>
      <div class="mt-4 flex justify-end">
        <button
          class="bg-gray-600 px-4 py-2 text-white rounded mr-2 hover:bg-gray-700 transition"
          (click)="showDeleteModal = false"
        >
          Cancel
        </button>
        <button
          class="bg-red-600 px-4 py-2 text-white rounded hover:bg-red-700 transition"
          (click)="deleteConfirmedPlayer()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- Add Player Modal -->
  <div
    *ngIf="showModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
  >
    <div class="bg-black bg-opacity-50 backdrop-blur-sm p-6 rounded-lg">
      <h2 class="text-lg font-bold mb-4 text-white">Add New Player</h2>
      <input
        type="text"
        [(ngModel)]="newPlayerName"
        class="border border-gray-600 p-2 w-full bg-gray-800 text-white rounded placeholder-gray-400"
        placeholder="Enter player name"
      />
      <div class="mt-4 flex justify-end">
        <button
          class="bg-red-600 px-4 py-2 text-white rounded mr-2 hover:bg-red-700 transition"
          (click)="closeModal()"
        >
          Cancel
        </button>
        <button
          class="bg-green-600 px-4 py-2 text-white rounded hover:bg-green-700 transition"
          (click)="addPlayer()"
        >
          Add
        </button>
      </div>
    </div>
  </div>

  <!-- Start League Modal -->
  <div
    *ngIf="showStartLeagueModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
  >
    <div class="bg-black bg-opacity-50 backdrop-blur-sm p-6 rounded-lg w-96">
      <h2 class="text-lg font-bold mb-4 text-white">Start New League</h2>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1 text-gray-300"
          >League Name</label
        >
        <input
          type="text"
          [(ngModel)]="newLeague.Name"
          class="border border-gray-600 p-2 w-full rounded bg-gray-800 text-white placeholder-gray-400"
          placeholder="Enter league name"
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1 text-gray-300"
          >League Description</label
        >
        <textarea
          [(ngModel)]="newLeague.Description"
          class="border border-gray-600 p-2 w-full rounded bg-gray-800 text-white placeholder-gray-400"
          placeholder="Enter league description"
          rows="3"
        ></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1 text-gray-300"
          >League Type</label
        >
        <select
          [(ngModel)]="newLeague.TypeOfLeague"
          class="border border-gray-600 p-2 w-full rounded bg-gray-800 text-white"
        >
          <option [ngValue]="0">Single</option>
          <option [ngValue]="1">Multi</option>
        </select>
      </div>
      <div class="mt-4 flex justify-end">
        <button
          class="bg-gray-600 px-4 py-2 text-white rounded mr-2 hover:bg-gray-700 transition"
          (click)="closeStartLeagueModal()"
        >
          Cancel
        </button>
        <button
          class="bg-green-600 px-4 py-2 text-white rounded hover:bg-green-700 transition"
          (click)="startLeague()"
        >
          Start League
        </button>
      </div>
    </div>
  </div>

  <!-- End League Confirmation Modal -->
  <div
    *ngIf="showEndLeagueModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
  >
    <div class="bg-black bg-opacity-50 backdrop-blur-sm p-6 rounded-lg">
      <h2 class="text-lg font-bold mb-4 text-white">Confirm End League</h2>
      <p class="text-gray-300">
        Are you sure you want to end the current league? This action cannot be
        undone.
      </p>
      <div class="mt-4 flex justify-end">
        <button
          class="bg-gray-600 px-4 py-2 text-white rounded mr-2 hover:bg-gray-700 transition"
          (click)="showEndLeagueModal = false"
        >
          Cancel
        </button>
        <button
          class="bg-red-600 px-4 py-2 text-white rounded hover:bg-red-700 transition"
          (click)="resetTournament(leagueData.id)"
        >
          Confirm End
        </button>
      </div>
    </div>
  </div>

  <!-- Notes Modal -->
  <div
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
    *ngIf="showNoteModal"
  >
    <div class="bg-black bg-opacity-50 backdrop-blur-sm p-4 rounded-lg">
      <div>
        <h2 class="font-bold text-white text-center">Add New Note</h2>
        <div>
          <label for="Notes">
            <span class="text-sm font-medium text-gray-300">Notes</span>
            <div class="relative m-2 overflow-hidden rounded border-gray-600">
              <textarea
                id="Notes"
                class="w-full resize-none p-3 border border-gray-600 bg-gray-800 text-white placeholder-gray-400"
                rows="4"
                [(ngModel)]="newNote"
              ></textarea>
              <div class="flex items-center justify-end gap-2 p-1.5">
                <button
                  type="button"
                  class="rounded p-2 font-bold text-white bg-green-600 hover:bg-green-700 transition"
                  (click)="sendNote()"
                >
                  Save
                </button>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="p-6">
        <div *ngFor="let note of notes">
          <div
            class="mt-4 flex items-center justify-end"
            *ngIf="note.isDeleted == false"
          >
            <h2 class="font-bold px-3 text-white">
              {{ note.content }}
            </h2>
            <button
              class="bg-red-600 px-4 py-2 text-white rounded mr-2 hover:bg-red-700 transition"
              (click)="toggleDeleteNote(note.id)"
            >
              Delete
            </button>
            <button
              class="bg-green-600 px-4 py-2 text-white rounded hover:bg-green-700 transition"
              (click)="toggleHideNote(note)"
              *ngIf="note.isHidden == true"
            >
              Show
            </button>
            <button
              class="bg-purple-600 px-4 py-2 text-white rounded hover:bg-purple-700 transition"
              (click)="toggleHideNote(note)"
              *ngIf="note.isHidden == false"
            >
              Hide
            </button>
          </div>
        </div>
      </div>
      <button
        class="bg-gray-600 px-4 py-2 text-white rounded hover:bg-gray-700 transition"
        (click)="closeNoteModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
