table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #d1d5db;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ef4444;
  color: white;
}

td.bg-gray-200 {
  background-color: #e5e7eb;
}
